<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="fyicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>飞扬报修系统</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jRate.js"></script>
    <script src="__PUBLIC__/js/jquery.form.js"></script>
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>

<body>
<input type="hidden" id="access_token" value="@#$_GET['access_token']#@">
 <div class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
       <div class="container">
       	  <ul class="nav nav-pills">
            <li ><a href="__APP__/Home/Index/index?access_token=@#$_GET['access_token']#@">飞扬报修</a></li>
            <li class="active"><a href="__APP__/Home/IndexPage/order?access_token=@#$_GET['access_token']#@">查看订单</a></li>
            <li><a href="__APP__/Home/AccountPage/logout">退出</a></li>
          </ul>
       </div>
    </div>
<div class="container1">
	<br><center><h3>我的订单</h3></center>
<if condition="$count gt 0">

<foreach name="info" item="vo">

	<div class="jumbotron">
      <!--显示所有订单-->
    	<p class="text-success">订单号：@#$vo.number#@</p><!--订单号-->
    	<hr>
    	   <p>订单状态：<if condition="($vo.status eq 0) OR ($vo.status eq 5) ">
    	   待系统分配技术员请耐心等待技术员电话联系
    	               <elseif condition="$vo.status eq 1" />
						已分配技术员请耐心等待技术员电话联系
						<elseif condition="$vo.status eq 2" />
						该订单已取消
						<elseif condition="$vo.status eq 3" />
						待技术员维修
						<else />
						该订单已完成
						</if></p><!--订单状态-->
    	<p>电脑信息：@#$vo.brand#@@#$vo.model#@-@#$vo.buy_time|date="Y年m月",####@购买</p>
      	<p>报修原因：@#$vo.description#@</p><!--订单信息-->

<if condition="($vo.status eq 1) OR ($vo.status eq 3) OR ($vo.status eq 4)">
<p>技术员姓名：@#$vo.name#@</p>
<p>技术员联系方式：@#$vo.phone#@</p>
</if>

  		<hr><div align="right"><p>
			<if condition="($vo.status eq 0) OR ($vo.status eq 1) OR ($vo.status eq 5) ">
			<span class="cancel_order"  ajaxid="@#$vo.order_id#@">
			<button class="btn btn-sm btn-default" id="cancel_order_@#$vo.order_id#@" type="button">取消订单</button>
			</span>
			<elseif condition="$vo.status eq 3" />
			<span class="cancel_order" ajaxid="@#$vo.order_id#@">
			<button class="btn btn-sm btn-default" id="cancel_order_@#$vo.order_id#@" type="button">取消订单</button>
			</span>
			<span class="complete_order"  ajaxid="@#$vo.order_id#@">
			<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" id="complete_order_@#$vo.order_id#@" type="button">确认已完成并评价</button>
			</span>
                <elseif condition="$vo.status eq 4" />
                <span class="complete_order"  ajaxid="@#$vo.order_id#@">
			<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" id="complete_order_@#$vo.order_id#@" type="button">请评价</button>
			</span>
			</if>
    	</div>
</div></p>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请为本次服务的工作人员打分</h4>
                </div>
                <div class="modal-body">
                    <form id="scoreForm" method="post">
                        <p>您为他打出的分数是：<span class="score">0</span>分</p>
                        <div id="jRate">

                        </div>
                        <input class="iscore" type="hidden" name="score" value="">
                        <input type="hidden" name="staff_id" value="@#$vo.staff_id#@">
                        <input type="hidden" name="order_id" value="@#$vo.order_id#@">
                        <p>快告诉我们您的建议吧</p>
                        <textarea maxlength="255" placeholder="不要超过255个字哦" class="form-control" name="comment" rows="4"></textarea>

                    <hr>
                    <button type="submit" class="btn btn-primary btn-block" id="score">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</foreach>
<div id="page">
@#$page#@
</div>

</p>

<else />
<p>当前无订单</p>
</if>
</div>

<script type="text/javascript">
$(document).ready(function(){




	var access_token=$("#access_token").val();
	//用户取消订单
	$(".cancel_order").on("click",function(){
		if(confirm("确认要取消该订单吗?")){
			var order_id=$(this).attr('ajaxid');
			$("#cancel_order_"+order_id).text('处理中..');
			//alert(order_id);return;
			$.post("__APP__/Home/Handle/cancel?access_token="+access_token, {order_id:order_id},//取消的订单号
				function(data){
					if(data.status==0){
						$("#cancel_order_"+order_id).text('取消失败,请重试');
						//document.location.reload("__APP__/Home/Index/order");
					}else{
						document.location.reload("__APP__/Home/IndexPage/order?access_token="+access_token);//重新加载网页
					}
			});
		}
	});
	//用户点击确认完成订单
	$(".complete_order").on("click",function(){

		var order_id=$(this).attr('ajaxid');
		$("#complete_order_"+order_id).text('点击评分');
		//alert(order_id);return;
		$.post("__APP__/Home/Handle/complete?access_token="+access_token,{order_id:order_id},
			function(data){
				if(data.status==0){
					$("#coplete_order_"+order_id).text('确认失败,请重试');
					//document.location.reload("__APP__/Home/Index/order");
				}else{
                    //评分插件设置
                    $(".imgScore").remove();
                    $("#jRate").after("<div class='imgScore'></div>");
                    $(".imgScore").jRate({
                        startColor: "#71e38e",
                        endColor: "#59b370",
                        width:20,
                        height: 20,
                        onChange: function(rating) {
                            $('.score').text(rating);
                        },
                        onSet: function(rating) {
                            $('.score').text(rating);
                            $('.iscore').val(rating);
                        }
                    });

                    $(function(){
                        var options={
                            url:"__APP__/Home/Handle/evaluate?access_token=",
                            success:function(data){
                                if(data.status==1)
                                {
                                    $("#score").text('感谢你的评价');
                                    alert('感谢你的评价');
                                    document.location.reload("__APP__/Home/IndexPage/order?access_token="+access_token);

                                }else if(data.status==2){
                                    $("#score").text('对不起，您的订单已经评价过了');
                                    alert('对不起，您的订单已经评价过了');
                                    document.location.reload("__APP__/Home/IndexPage/order?access_token="+access_token);
                                }
                                else{
                                    $("#score").text('评价失败请重试');
                                }
                            }
                        };
                        $('#scoreForm').ajaxForm(options);

                    });

				}
			}
		);//完成的订单号
	});
});
</script>
</body>
</html>
